/bin/run-parts /etc/csfpre.d

{% for l in csfpre_global_rules_1 %}
{{ l }}
{% endfor %}
{% for l in csfpre_global_rules_2 %}
{{ l }}
{% endfor %}
{% for l in csfpre_global_rules_3 %}
{{ l }}
{% endfor %}
{% for l in csfpre_global_rules_4 %}
{{ l }}
{% endfor %}
{% for l in csfpre_rules %}
{{ l }}
{% endfor %}


